<h1><strong>Angular Dynamic Component Loader:</strong> THE FINAL TEST</h1>
<h4><em>Será que Kauê Delmonte consiguirá passar por essa prova de fogo?</em></h4>
<hr />
<div class="container">
  <h1 *ngIf="selected">{{selected.value}}</h1>
  <div class="content">
    <div class="dynamic-component">
      <ng-template dynamic-component></ng-template>
    </div>
    <hr>
    <div class="component-selector">
      <select #select (change)="onChange($event)">
        <option *ngFor="let option of options">{{option.value}}</option>
      </select>
    </div>
  </div>
  <hr />
  <div class="components">
    <em>
      <h5>Opções de componentes:</h5>
      <h6>MyButtonComponent</h6>
      <h6>MyInputComponent</h6>
      <h6>MyLogoComponent</h6>
    </em>
    <div class="component" *ngFor="let option of options">
      <input [(ngModel)]="option.component" (input)="onTypeUpdate()"/> {{option.value}}
    </div>
  </div>
  <textarea readonly>
    {{options | json}}
  </textarea>
</div>